@import url("https://fonts.googleapis.com/css2?family=Lato");

body{
    font-family: 'Lato', sans-serif;
    background-color: #E5E5E5;
    width: 100%;
}
/* FEATURES */

.feature-texts {
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 132.1%;
/* identical to box height, or 24px */
text-align: center;
letter-spacing: 0.02em;

color: #374988;
}

.nav-link {
  margin-right: 2rem;
}

.feature-notes {
    justify-content: center;
    align-items: center;
}

/* header styles*/

@media (max-width: 576px) {
.feature-list p {
    text-align: center;
}

.feature-list h3 {
    text-align: center;
}

p {
    text-align: center;
}
h1 {
    text-align: center;
}
.feature-items {
  margin-left: -4rem;
}
#feature-img{
  margin-top: 4rem;
}
#contact-us {
  margin-left: -3.5rem;
}


#bottomSection {
  align-items: center;
  justify-content: center;
  margin-left: 0%;
  margin-top: -20rem;
}

}

@media (max-width: 768px) {
   .feature-list p {
        text-align: center;
    }
    
    .feature-list h3 {
        text-align: center;
    }
#navbarNav {
    font-size: large;
    color: #374988; 
    font-weight: bold;
}


.feature-list p {
  text-align: center;
}

.feature-list h3 {
  text-align: center;
}

p {
  text-align: center;
}
h1 {
  text-align: center;
}
.feature-items {
margin-left: -4rem;
}
#feature-img{
margin-top: 4rem;
}



#bottomSection {
align-items: center;
justify-content: center;
margin-left: 0%;
margin-top: 25rem;
}

}

@media (max-width: 990px) {

}

@media (min-width: 1200px) {
 
}
